---
layout: default
---

<div class="uk-container">
  <div class="uk-grid-match uk-child-width-1-1@xs uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    {% for post in paginator.posts %}
      <a href="{{ post.url }}" class="uk-link-reset">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">
          <div class="uk-card-media-top">
            <img src="https://via.placeholder.com/620x348?text=image" alt="" />
          </div>
          <div class="uk-card-body">
            <p class="uk-text-meta">
              {{ post.date | date: '%B %d, %Y' }} - Written by {{ post.author }}
            </p>
            <h3 class="uk-card-title uk-margin-remove-top">{{ post.title }}</h3>
          </div>
          <div class="uk-card-footer">
            {% for category in post.categories %}
              <span class="uk-label uk-text-small">{{ category }}</span>
            {% endfor %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <ul class="uk-pagination uk-flex-between uk-margin-medium-top">
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path }}"><span uk-pagination-previous></span> Previous page</a></li>
    {% else %}
      <li class="uk-disabled"><a href="{{ paginator.previous_page_path }}"><span uk-pagination-previous></span> Previous page</a></li>
    {% endif %}

    <li class="uk-disabled">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>

    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path }}"><span uk-pagination-next></span> Previous page</a></li>
    {% else %}
      <li class="uk-disabled"><a href="{{ paginator.previous_page_path }}">Next page <span uk-pagination-next></span></a></li>
    {% endif %}
  </ul>
</div>
