<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/css/uikit.min.css" />
  </head>
  <body>
    <nav class="uk-navbar-container uk-box-shadow-medium uk-margin-medium-bottom" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Logo</a>
        <ul class="uk-navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/tier-list">Tier List</a>
          </li>
        </ul>
      </div>
    </nav>

    {{ content }}

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit-icons.min.js"></script>
  </body>
</html>
